<div class="arrow">
  <button (click)="return()">
    <img src="/return.png" alt="return to home">
  </button>
</div>
<h1 class="title">Contact</h1>
<div class="socialMedia">
    <div *ngFor="let contact of contacts" class="project">
      <button class="button" [ngClass]="contact.title.toLowerCase()" (click)="toggleContact(contact)">
        <span>{{ contact.title }}</span>
        <img [src]="contact.icon" alt="img" class="icons">
      </button>

      <div *ngIf="contact.show" class="content">
        <p class="explication">{{ contact.explication }}</p>
        <a class="url" [href]="contact.url">Click this to contact me</a>
      </div>
    </div>
</div>