@media screen and (min-width: 900px) {
    /*BIG TEXT*/
    .title {
        font-size: 2rem;
        margin-bottom: -1%;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .text {
        letter-spacing: 0.05em; 
        font-weight: lighter;
        margin: 60px auto 0 auto;
        text-align: center;
        width: 50%;
    }

    /*CVs*/
    .cv {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    
    }
    .cv button{
        margin-top: 4%;
        width: 10%;
        max-width: 80%;
        text-align: center;
        border-radius: 10px;
        background-color: white;
        color: black;
        transition: all 0.2s ease;
        padding: 10px;

    }
    .cv button:hover {
        box-shadow: 0 0 10px #D19ADA;
        width: 10.5%;
        text-align: center;
        cursor: pointer;
    }
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 1.5vh;
        margin-bottom: -1%;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /*BIG TEXT*/
    .text {
        letter-spacing: 0.07em; 
        font-size: 30px;
        font-weight: lighter;
        margin: 60px auto 0 auto;
        text-align: center;
        width: 80%;
    }

    /*CVs*/
    .cv button{
        box-shadow: 0 0 20px #D19ADA;
        margin-top: 10%;
        width: auto;
        border-radius: 10px;
        padding: 10px;
    }
    .cv {
        display: grid;
        justify-content: space-evenly;    
    }
}