@media screen and (min-width: 900px) {
    /*BIG TEXT*/
    .title {
        font-size: 2rem;
        margin-top: -2%;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .text {
        letter-spacing: 0.05em; 
        font-weight: lighter;
        margin: 60px auto 0 auto;
        text-align: center;
        width: 50%;
    }

    /*CVs*/
    .recomm {
        display: flex;
        justify-content: center;    
        margin-bottom: -50%;
    }
    .recomm button{
        margin-top: 4%;
        width: 10%;
        max-width: auto;
        text-align: center;
        border-radius: 10px;
        background-color: white;
        color: black;
        transition: all 0.2s ease;
        padding: 10px;

    }
    .recomm button:hover {
        box-shadow: 0 0 10px #D19ADA;
        width: 10.5%;
        text-align: center;
        cursor: pointer;
    }

    .block1, .block2, .block3, .block4 {
        overflow: hidden;
        width: 50%;
        margin: 0 auto;
    }
    .logos-track{
        display: flex;
        width: max-content;
    }

    .logos {
        width: 70px;
        flex-shrink: 0;
        margin: 0 5px;
    }

    .logos img{
        width: 100%;
        height: auto;
    }


    .block1 { --duration: 20s; }
    .block2 { --duration: 10s; }
    .block3 { --duration: 4s; }
    .block4 { --duration: 6s; }

    .block1 .logos-track {
        animation: scroll33 var(--duration) linear infinite;
    }

    .block2 .logos-track {
        animation: scroll25 var(--duration) linear infinite;
    }

    .block3 .logos-track {
        animation: scroll14 var(--duration) linear infinite;
    }

    .block4 .logos-track {
        animation: scroll16 var(--duration) linear infinite;
    }

    @keyframes scroll33 {
        0% {transform: translateX(0%);}
        100% {transform: translateX(-33.33%);}
    }

    @keyframes scroll25 {
        0% {transform: translateX(0%);}
        100% {transform: translateX(-25%);}
    }

    @keyframes scroll14 {
        0% {transform: translateX(0%);}
        100% {transform: translateX(-14.29%);}
    }

    @keyframes scroll16 {
        0% {transform: translateX(0%);}
        100% {transform: translateX(-16.66%);}
    }    

    .all-logos h3 {
        justify-content: center;
        display: flex;
        font-size: 30px;
    }
    .block1 .logos-track:hover,
    .block2 .logos-track:hover,
    .block3 .logos-track:hover,
    .block4 .logos-track:hover {
        animation-play-state: paused;
    }

}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 1.5vh;
        margin-bottom: -1%;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /*BIG TEXT*/
    .text {
        letter-spacing: 0.07em; 
        font-size: 30px;
        font-weight: lighter;
        margin: 60px auto 0 auto;
        text-align: center;
        width: 80%;
    }

    /*CVs*/
    .cv button{
        box-shadow: 0 0 20px #D19ADA;
        width: auto;
        border-radius: 10px;
        padding: 15px;
    }
   
}