
<div class="arrow">
  <button (click)="return()">
  <img src="assets/return.png" alt="return to home">  </button>
</div>
<div class="title">
  <h1>ABOUT ME</h1>
</div>
<h3 class="text">
  In this section, I want to tell you a bit about myself and how my interest in programming, 
  computers, and everything that now excites me began. <br>
  <br>
  My story started when I was in secondary school. I’ve always loved reading, 
  which led me into the world of manga, and later into anime. 
  Seeing the talent of those who drew and animated sparked my interest in art and drawing, 
  and over time I evolved toward graphic design. Although I’ve never stopped enjoying both areas, 
  it was during that same period that I discovered video games, 
  and from there my curiosity about computers kept growing. 
  <br>
  <br>
  After doing some research, I realized that this whole world required technical 
  knowledge, both software and hardware, which I didn’t have at the time. 
  So I decided to focus on my high school studies to graduate (though I never stopped gaming). 
  Later, I took the university entrance exams thinking about studying languages and maybe pursuing 
  a degree in Tourism, since learning languages has always come naturally to me. However, 
  when I reflected on my true passions, I remembered that initial interest in computing and decided 
  to return to that path. 
  <br>
  <br>
  When I started the Advanced Vocational Training in Web Application Development (DAW), 
  I was very enthusiastic, but also had overly high expectations. At first, I was too hard on myself, 
  which led to some setbacks. I had to retake a subject, which taught me to be 
  more patient with myself and to understand that learning is a process. In the second year, 
  things went much more smoothly: I was able to move forward with confidence and enjoy what I was doing.
  <br>
  <br>
  During my FCT internship, which lasted six months, I developed two websites. 
  Although I used tools different from those taught in class like WordPress with some useful 
  plugins and PrestaShop, I discovered how versatile web development can be and confirmed that 
  I had chosen the right path. 
  <br>
  <br>
  Over these two years, I’ve not only gained technical knowledge, 
  but I’ve also learned to work in a team, to express myself better in public, 
  and to trust more in my abilities. I know I still have a lot to learn, 
  but that’s exactly what motivates me: to keep growing day by day. 
  <br>
  <br>
  My goal now is to find a job opportunity where I can contribute value, 
  continue learning, and collaborate in the growth of the company, 
  working both in a team and independently.
</h3>
<div class="all-logos">
  <h3>Front-end</h3>
  <div class="block1">
    <div class="logos-track">
      <!-- Primera tanda -->
      <div *ngFor="let logo of logos.slice(0,12)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Segunda tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(0,12)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Tercera tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(0,12)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
    </div>
  </div>

  <h3>Back-end</h3>
  <div class="block2">
    <div class="logos-track">
      <!-- Primera tanda -->
      <div *ngFor="let logo of logos.slice(12,19)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Segunda tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(12,19)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Tercera tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(12,19)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Quarta tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(12,19)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
    </div>
  </div>

  <h3>Databases</h3>
  <div class="block3">
    <div class="logos-track">
      <!-- Primera tanda -->
      <div *ngFor="let logo of logos.slice(19,22)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Segunda tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(19,22)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Tercera tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(19,22)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Quarta tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(19,22)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Quinta tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(19,22)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Sexta tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(19,22)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Septima tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(19,22)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
    </div>
  </div>

  <h3>Tools</h3>
  <div class="block4">
    <div class="logos-track">
      <!-- Primera tanda -->
      <div *ngFor="let logo of logos.slice(22,29)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Segunda tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(22,29)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Tercera tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(22,29)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Quarta tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(22,29)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Quinta tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(22,29)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
      <!-- Sexta tanda (duplicada) -->
      <div *ngFor="let logo of logos.slice(22,29)" class="logos">
        <img [src]="logo.icon" alt="img" class="icons">
      </div>
    </div>
  </div>
</div>


<div class="recomm">
  <button (click)="verRecomendacion()">
    <span>Recommendation letter</span>
  </button>
</div>
