<div class="initial-text">
    <h1 class="title">MILENA VARDUMYAN ALEKSANYAN</h1>
    <h3 class="description">
        I am a full-stack web developer in training, focused on creating efficient and collaborative web solutions, 
        with skills in both front-end and back-end development
    </h3>
</div>

<nav class="menus">
    <a class="menu-about-me" routerLink="about-me">About Me</a>
    <a class="menu-projects" routerLink="projects">Projects</a>
    <a class="menu-contact" routerLink="contact">Contact</a>
</nav>